@mixin font-settings($size) {
	font: {
		family: ff-clan-web-pro-wide, sans-serif;
		size:$size;
	}
}

h2 {
	@include font-settings(20px);
	text-align:center;
}
.status_bar {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	color: #fff;
	padding: 5px;
	z-index: 2;
	background-color: #8cd58e;
	text-align: center;
	opacity: 0.8;
	filter: alpha(opacity=80);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	@include font-settings(15px);
}
.container {
	margin-left: auto;
	margin-right: auto;
}
.sudoku_frame {
	@include font-settings(30px);
	@extend .container;
	.cell {
		width: 58px;
		height: 58px;
		border: 1px solid black;
		text-align:center;
	}
	.alt {
		background-color: #D5EDF5;
	}
	.left_edge {
		border-left: solid 2px;
	}
	.top_edge {
		border-top: solid 2px;
	}
	.fixed {
		span {
			color:grey;
		}
	}
	.selected {
		background-color: #acc;
	}
	.invalid {
		span {
			color:red;
		}
	}
	border-spacing: 1px;
	border-right: solid 2px;
	border-bottom: solid 2px;
	border-top-width:2px;
	border-left: solid 2 px;
	border-collapse:collapse;
}