h2 {
  font-family: ff-clan-web-pro-wide, sans-serif;
  font-size: 20px;
  text-align: center; }

.status_bar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  color: #fff;
  padding: 5px;
  z-index: 2;
  background-color: #8cd58e;
  text-align: center;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  font-family: ff-clan-web-pro-wide, sans-serif;
  font-size: 15px; }

.container, .sudoku_frame {
  margin-left: auto;
  margin-right: auto; }

.sudoku_frame {
  font-family: ff-clan-web-pro-wide, sans-serif;
  font-size: 30px;
  border-spacing: 1px;
  border-right: solid 2px;
  border-bottom: solid 2px;
  border-top-width: 2px;
  border-left: solid 2 px;
  border-collapse: collapse; }
  .sudoku_frame .cell {
    width: 58px;
    height: 58px;
    border: 1px solid black;
    text-align: center; }
  .sudoku_frame .alt {
    background-color: #D5EDF5; }
  .sudoku_frame .left_edge {
    border-left: solid 2px; }
  .sudoku_frame .top_edge {
    border-top: solid 2px; }
  .sudoku_frame .fixed span {
    color: grey; }
  .sudoku_frame .selected {
    background-color: #acc; }
  .sudoku_frame .invalid span {
    color: red; }

/*# sourceMappingURL=sudoku.css.map */
